body {
	font-family: Courier, monospace; 
	margin: 0 auto; 
	width: 32em; 
	font-size: 1.5em; 
	background: #f5f4f1; 
	color: #0f4e66;
}

img.bg {
	border: none;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
		
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
		
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px) {
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

pre, code {
	font-size: 0.8em; 
	background: #ebe8e1;
}

pre {
	overflow-x: scroll;
}

a {
	color: #0f4e66; 
	text-decoration: none;
}

a:hover {
	color: #f5f4f1; 
	background-color: #0f4e66;
}

img {
	width: 100%;
	border: 3px solid #0f4e66;
}

img.half {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

hr {
	border: 1px solid #0f4e66;
}

.footer-nav {
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
}

.footer-nav li {
	height: 20px;
	width: 20px;
	margin: 5px;
}

svg {
	fill: #0f4e66;
}
