<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Mineral Existence</title>
		<base href="https://mineralexistence.com/"/>
		<link rel="icon" href="favicon.ico?" type="image/x-icon">
		<link rel="stylesheet" href="https://use.typekit.net/tsn4urm.css"> 
		<link rel="stylesheet" href="https://mineralexistence.com/style.css"/>
	</head>
	<body id="dark">
		<article style="border: none;">
			<div style="
				height: 100vh;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			">
		    	<div>
		    		{{content}}
		    	</div>
			</div>
		</article>
	</body>
</html>
