<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MX - {{title}}</title>
		<link rel="icon" href="favicon.ico?" type="image/x-icon">
		<link rel="stylesheet" href="style.css"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Yes, I know. This is just a test for now -->
	    <script defer data-domain="mineralexistence.com" src="https://plausible.io/js/plausible.js"></script>
	</head>
	<body id="dark">
		<div class="with-sidebar">
			<div>
		  		<!-- sidebar -->
				<nav>
					<span><h1><a href="home.html">Home</a></h1></span>
					<span><h1><a href="now.html">now</a></h1></span>
					<span><h1><a href="wiki.html">wiki</a></h1></span>
					<span><h1><a href="about.html">about</a></h1></span>
				</nav>
			</div>
			<div>
				<main>
					<!-- non-sidebar -->
					<article class="inner">
						<!-- <hr></hr> -->
						{{content}}
						<!-- <hr></hr> -->
					</article>
				</main>
			</div>
		</div>
		<footer>
			<nav aria-label="Contact links">
				<div style="float: left; margin-top: -3px;">
					<a href="mailto:benrhammond@gmail.com" aria-label="Email adress" title="Email adress" target="_blank"><img src="images/mail.svg" alt="Mailto"/></a>
					<a rel="me" href="https://merveilles.town/@flbr" aria-label="Fediverse account" title="Fediverse account" target="_blank"><img src="images/merveilles.svg" alt="Merveilles"/></a>
					<a rel="me" href="https://github.com/flber" aria-label="Github account" title="Github account" target="_blank"><img src="images/github.svg" alt="Github"/></a>
		        	<a href='https://webring.xxiivv.com/#random' target='_blank'><img class="webring" src='https://webring.xxiivv.com/icon.black.svg' alt="the merveilles webring"/></a>
		        	<a href="https://wiki.xxiivv.com/site/uxn.html"><img src="https://wiki.xxiivv.com/media/icon/uxn.svg" alt="Uxn Powered"/></a>
				</div>
				<div style="float: right; margin-top: -6px;">
					<em>Last updated: {{date}}</em>
				</div>
			</nav>
		</footer>
	</body>
</html>
