<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MX - {{title}}</title>
	<link rel="icon" href="favicon.ico?" type="image/x-icon">
	<link rel="stylesheet" href="style.css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:type" content="article"/>
	<meta property="og:title" content="{{title}}"/>
	<link rel="feed" type="application/rss+xml" title="Mineral Existence RSS Feed" href="https://mineralexistence.com/feed.xml">
</head>

<body>
	<header>
		<h1><a href="home.html">Home</a></h1> 
		<h1><a href="now.html">now</a></h1>
		<h1><a href="wiki.html">wiki</a></h1>
		<h1><a href="about.html">about</a></h1>
		<hr/>
	</header>

	<main>
		{{content}}
		{{backlinks}}
	</main>

	<footer>
		<a href="mailto:benrhammond@gmail.com" target="_blank">
			<img loading="lazy" src="images/mail.svg" alt="Mailto" />
		</a>
		<a rel="me" href="https://merveilles.town/@flbr" target="_blank">
			<img loading="lazy" src="images/merveilles.svg" alt="Merveilles" />
		</a>
		<a href='https://webring.xxiivv.com/#icons' target='_blank'>
			<img loading="lazy" class="webring" src="images/webring-icon-black.svg" alt="the merveilles webring" />
		</a>
		<a href="https://wiki.xxiivv.com/site/ethics.html">
			<img loading="lazy" src="images/dreipfeile-icon.svg" alt="Ethics" />
		</a>
		<a href="feed.xml">
			<img loading="lazy" src="images/rss.svg" alt="RSS Feed" />
		</a>
		<img loading="lazy" style="width:88px;height:31px;margin-left:0.5ex;" title="my homemade site banner!" alt="site banner"
			src="images/icon.gif" />
		<span style="float: right;"><em>Last updated: {{date}}</em></span>
	</footer>
</body>
</html>
