<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mineral Existence</title>
		<link rel="icon" href="favicon.ico?" type="image/x-icon">
		<link rel="stylesheet" href="style.css" />
	</head>
	<body id="dark">
		<nav style="padding-top: 15px;">
			<div style="display:flex;"> 
				<div class="right-border">
					<b><a href="index.html">Home </a></b>
				</div>
				<div class="right-border">
					<b><a href="now.html"> now </a></b>
				</div>
				<div class="right-border">
					<b><a href="wiki.html"> wiki </a></b>
				</div>
				<div class="left-padding">
					<b><a href="about.html"> about</a></b>
				</div>
				<div style="margin-left: auto;">
					<span class="dark"><b><a href="#dark">{dark}</a></b></span>
					<span class="light"><b><a href="#">{light}</a></b></span>
				</div>
				<div style="clear: both;"></div>
			</div>
		</nav>
		<main>
			<article class="inner">
