<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mineral Existence</title>
		<link rel="icon" href="favicon.ico?" type="image/x-icon">
		<link rel="stylesheet" href="style.css" />
	</head>
	<body id="dark">
		<nav>
			<div style="display:flex; align-items: center;"> 
				<div class="right-border">
					<h1><b><a href="index.html">Home</a></b></h1>
				</div>
				<div class="right-border">
					<h1><b><a href="now.html">now</a></b></h1>
				</div>
				<div class="right-border">
					<h1><b><a href="wiki.html">wiki</a></b></h1>
				</div>
				<div class="right-border">
					<h1><b><a href="about.html">about</a></b></h1>
				</div>
				<div style="margin-left: auto;">
					<span class="dark"><b><a href="#dark">{dark}</a></b></span>
					<span class="light"><b><a href="#">{light}</a></b></span>
				</div>
				<div style="clear: both;"></div>
			</div>
		</nav>
		<main>
			<article class="inner">
