<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../crow.ico?" type="image/x-icon">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dev login</title>

		<style>
			.center {
				height: calc(100vh - 2em);
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.border {
				padding: 2em;
				border: 1px solid black;
				border-radius: 16px;
			}
			input[type=submit] {
				border-radius: 8px;
				border: 1px solid black;
				background: none;
				padding: 0px 10px;
				font-weight: bold;
				font-family: sans;
				color: black;
				font-size: 16px;
			}
			input[type=submit]:hover {color: white;background: black;}

			mark {color:white;background:black;padding:0px 4px}
		</style>
		
	</head>
	<body class="center">
		<div class="border">
			<h1>/dev</h1>

			<p>Please login to continue.</p>

			{{#if message}}
				<p><mark> {{#if kind}}{{kind}}: {{/if}}{{ message }} </mark></p>
			{{/if}}

			<form action="/dev/login" method="post" accept-charset="utf-8">
				<p>
					<label for="username">username</label>
					<input type="text" name="username" id="username" value="" />
				</p>
				<p>
					<label for="password">password</label>
					<input type="password" name="password" id="password" value="" />
				</p>
				<p><input type="submit" value="login"></p>
			</form>
		</div>
	</body>
</html>
