<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../crow.ico?" type="image/x-icon">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dev</title>

		<style>
			body {
				font-size:calc(1rem + 0.5vw);
				font-family:Times;
				max-width:60ch;
				padding:1em 7%; 
				margin: 1rem auto 3rem; 
				padding: 0 1rem; 
				line-height:1.6;
			}
			main > *+* {margin-top: 3rem;}

			.border {
				padding: 0px 2em 2em;
				border: 1px solid black;
				border-radius: 16px;
			}

			@media screen and ( max-width: 680px ){
				main > *+* {margin-top: 1.5rem;}
				
				body {
					margin: 1rem 1rem 3rem;
					padding: 1rem 1rem 1rem;
				}

				.border { padding: 1rem 5% 1rem; }
			}

			input[type=submit] {
				border-radius: 8px;
				border: 1px solid black;
				background: none;
				padding: 0px 10px;
				font-weight: bold;
				font-family: sans;
				color: black;
				font-size: 16px;
			}
			input[type=submit]:hover {color: white;background: black;}

			pre {
				border-radius: 8px;
				white-space:normal;
				overflow:auto;
				color:white;
				background:black;
				padding:10px;
				font-size:80%;
				margin:0px;
			}
			
			fieldset { padding: 0em 1em 0.5em;border: 1px solid black;border-radius: 16px; }
 			fieldset > *+* {margin: 1ex 0ex;}

 			.grid {
 				display: grid;
 				grid-template-columns: 5fr 1fr;
 				gap: 1em;
 			}

 			button {
 				border-radius: 8px;
 				border: 1px solid black;
 				background: none;
 				padding: 0px 10px;
 				font-family: mono;
 				color: black;
 				font-size: 20px;
 			}
 			button:hover {color: white;background: black;}
 			
		</style>

	</head>
	<body class="border">
		<h1>/dev</h1>

		<main>
			<fieldset>
				<legend>User hellos</legend>
				<p>user count: {{ user_count }}</p>
				<p>user ips:</p>
				<div id="ips"></div>
			</fieldset>

			<script>
				function get_ips() {
					fetch("/api/count/ips", {
						method: "GET",
						headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json',
						}}).then(async (res) => {
						const raw = await res.text();
						const json = raw ? JSON.parse(raw) : { success: res.ok };
						
						var ips_div = document.getElementById('ips');
						ips_div.innerHTML = "";
						
						for (i in json.ips) {
							ips_div.innerHTML += `
<div class="grid" style="margin-bottom:0.5em">
<pre>${json.ips[i]}</pre>
<button style="height:100%" onclick="remove(${i})">rm</button>
</div>`
						}
					})
				}
				
				window.onload = function() {
					get_ips();
				}
			
				function remove(index) {					
					var req = new XMLHttpRequest();
					req.open("POST", `api/count/remove/${index}`);
					req.send();
					get_ips();
				}
			</script>
						
			<form action="/dev/logout" method="post" accept-charset="utf-8">
				<input type="submit" name="logout" id="logout" value="logout" />
			</form>
		</main>
	</body>
</html>
