:root{
	/* --text: #3A3738; */
	--text: #000000;
	/* --bg: #FBF0F0; */
	--bg: #FFFFFF;
	--highlight: #80dec5;
	--max: 90ch;
	--fonts: "Times New Roman", Times, serif;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


::selection{background: var(--text);color: var(--bg);}
::-moz-selection{background: var(--text);color: var(--bg);}
mark{background-color: var(--highlight)}


.with-sidebar {
	display: flex;
	flex-wrap: wrap;
	gap: 3em;
	padding: 0 15px;
	padding-top: 4ex;
}

.with-sidebar > :first-child {
	flex-grow: 1;
}

.with-sidebar > :last-child {
	flex-basis: 20rem;
	flex-grow: 999;
	min-width: 50%;
}


body{
	font-size: calc(1rem + 0.5vw);
	font-family: var(--fonts);
	font-style: normal;
	max-width: var(--max);
	padding:1em 7%;
	margin: 0px auto;
	line-height: 1.6;
	color:var(--text);
	background-color:var(--bg);
}
h1,h2,h3{letter-spacing: -0.02em;line-height: 1.2;} 
h1{font-size: clamp(1.5rem, 5vw, 2.5rem);}
h2{font-size: clamp(1.25rem, 5vw, 2.25rem);}
h3{font-size: clamp(1rem, 3vw, 1.5rem);}


body::-webkit-scrollbar{width: 0.75rem;}
body::-webkit-scrollbar-track{background-color: var(--bg);border: 1px solid var(--text);}
body::-webkit-scrollbar-thumb{background-color: var(--text);}


article{margin:0px auto;background-color:var(--bg);}


pre{overflow-x: auto;padding: 2%;padding-left: 2.5%;border-style: solid;border-width: thin;}
table td, table th{vertical-align:top;padding:2.5px 5px;text-align:left}
blockquote{position:relative;}
blockquote:before, blockquote:after, blockquote>:first-child:before, blockquote>:first-child:after{
    position:absolute;
    padding: 8px;
    border-color:var(--text);
    border-style:solid;
    content: '';
}
blockquote:before{top:0;left:0;border-width: 1px 0 0 1px}
blockquote:after{top:0;right:0;border-width: 1px 1px 0 0}
blockquote > :first-child:before{bottom:0;right:0;border-width: 0 1px 1px 0}
blockquote > :first-child:after{bottom:0;left:0;border-width: 0 0 1px 1px}
blockquote > p{padding: 16px;}


details {border: 1px solid var(--text);border-radius: 4px;padding: .5em .5em 0;}
details[open] {padding: .5em;}
details[open] summary {border-bottom: 1px solid var(--text);margin-bottom: .5em;}
summary {font-weight: bold;margin: -.5em -.5em 0;padding: .5em;}


a{color: var(--text);text-decoration: none;}
a:hover{color: var(--bg);background-color: var(--text);}
article a:not([href*=':'])::before{content:"{"}
article a:not([href*=':'])::after{content:"}"}
article a[href*=':']::before{content:"["}
article a[href*=':']::after{content:"]"}


img{width: 100%;} 
img.webring{transform:scale(1.4);} 


audio{border-radius:0px;}


hr{border: 1px solid var(--text);}


footer{margin:24px;padding-bottom: 16px;}
footer svg {height: 20px;width: 20px;margin: 2px;}
footer img {height: 20px;width: 20px;margin: 2px;}


svg{fill: var(--text);}
svg:hover{color: var(--bg);}


div.right-border{padding-left: 10px;padding-right: 10px;}
div.right-border a::after{content: "|"}


/* body:target{--bg: #3A3738;--text: #FBFBF3;} */
/* body:target{--bg: #000000;--text: #FFFFFF;} */
/* body span.light{display: none;} */
/* body span.dark{display: inline;} */
/* body:target span.light{display: inline;} */
/* body:target span.dark{display: none;} */
