:root {
	--text: #FBF0F0;
	--bg: #3A3738;
	--highlight: #80dec5;
	--max: 90ch;
	--fonts: "Times New Roman", Times, serif, gothicus;
}

p {
	padding-bottom: 2ex;
}

h1 {
	font-size: clamp(2.5rem, 5vw, 4.0rem);
	padding: 0px;margin: 0px;
}

h2 {
	font-size: clamp(1.25rem, 4vw, 2.25rem);
	padding: 0px;margin: 0px;
}

h3 {
	font-size: clamp(1rem, 3vw, 1.5rem);
	padding: 0px;margin: 0px;
}

a {
	color: var(--bg);
	background-color: var(--text);
	text-decoration: none;
}

a:hover {
	color: var(--text);
	background-color: var(--highlight);
}

body {
	max-width:var(--max);
	margin:0px auto;
	padding: 2vh 4vw;
	font-size: calc(1rem + 0.5vw);
	font-family: var(--fonts);
	line-height: 1.6;
	color: var(--text);
	background-color: var(--bg);
}

.listing {
	display:flex;
	flex-flow:row;
	justify-content:space-between;
}

.line {border-bottom: 1px solid var(--text);}
.ul-line > * {border-bottom: 1px solid var(--text);}
/*ul.line > li {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" fill="white" viewBox="0 0 50 50"><rect x="2" y="12" width="2" height="2"></rect></svg>');
}*/

.row {display: flex;}
.column {flex: 10;margin: 1em;}

@media screen and (min-width : 0em) {
	.row {display: block;}
	.column {margin: 1em;}	
}

@media screen and (min-width : 36em) { 
	.row {display: flex;}
	.column {flex: 10;margin: 1em;}
}
